body { font-family: Arial, sans-serif; background-color: #f5f5f5; }

.bg-aero {
    background-image: url(/assets/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center 75%;
}

footer {
    position: sticky;
}

/* #### HEAD NAVBAR #### */
.navbar {
  position: sticky ;
  top: 0;
}

.headerbar {
  background-color: #1b1a19;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* #### SIDE NAVBAR #### */

  .sidebar {
    color: white
  }
  
  .bg-sidebar {
    background-color: #212121 !important;
  }

  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
  }
  
  .sidebar li a {
    display: block;
    color: rgb(237, 237, 237);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .sidebar li a:hover {
    background-color: #555;
    color: white;
  }


  .sidebar .active {
    background-color: #04AA6D;
    color: white;
  }

.navbar img {
    object-fit: scale-down;
    width: 42px;
    height: 42px;
    
}

.pagebody {
  background-color: #141414;
  min-height: 100vh;
}